.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

form input {
  width: 100%;
  height: 25px;
}

form label {
  font-weight: 600;
  margin-bottom: 5px;
  display: block;
  font-size: var(--label);
}

.form-actions {
  display: flex;
  justify-content: flex-end;
}

.toggleBtn button {
    border-radius: 5px;
    border: 1px solid var(--blue);
    padding: 8px 20px;
}