:root {
 --blue: #4FACFE;
 --gradient: linear-gradient(to right, #4FACFE, #3A4DCC);
 --blue-30:rgba(79, 172, 254, 0.30);
 --blue-20:rgba(79, 172, 254, 0.20);
 --blue-10:rgba(79, 172, 254, 0.1);
 --white: #fff;

 --rad-15: 15px;
 --rad-10: 10px;

 --label: 13px;
}


#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: row;
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  padding: 0;
  background-color: white;
}

.center {
  display:flex;
  flex-direction: column;
  align-items: center;
}

button {
  background: none;
  cursor: pointer;
  border: none;
}

.layout {
  display: flex;
  width: 100%;
  height: 100vh;
}

main {
  flex: 1;
  width: 100%;
  background-color: white;
  transition: margin-left 0.3s ease;
  overflow-y: auto;
}

li {
  list-style: none;
}