:root {
  --blue: #4facfe;
  --gradient: linear-gradient(to right, #4facfe, #3a4dcc);
  --blue-30: rgba(79, 172, 254, 0.3);
  --blue-20: rgba(79, 172, 254, 0.2);
  --blue-10: rgba(79, 172, 254, 0.1);
  --white: #fff;

  --rad-15: 15px;
  --rad-10: 10px;

  --label: 13px;

  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-xl: 1.25rem;
  --text-lg: 1.125rem;
  --text-sm: 0.875rem;
  --text-vsm: 0.7rem;
}

#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: row;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  padding: 0;
  background-color: white;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background: none;
  cursor: pointer;
  border: none;
}

.layout {
  display: flex;
  width: 100%;
  height: 100vh;
}

main {
  flex: 1;
  width: 100%;
  background-color: white;
  transition: margin-left 0.3s ease;
  overflow-y: auto;
}

li {
  list-style: none;
}

.icon {
  fill: var(--blue);
  stroke: var(--blue);
}

p {
  text-align: left;
}
