.logs.upcoming-event {
  max-height: 500px;
  overflow-y: auto;
}

.event-info {
  display: flex;
  flex-direction: row;
  margin-block: 15px;
  background-color: var(--white);
  border-radius: 5px;
  margin-inline: 20px;
  padding: 10px;
  gap: 10px;
  transition: box-shadow 0.2s;
}

.event-info:hover {
  box-shadow:
    rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    cursor: pointer;
}

.left.events {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 350px;
}

.sched-time > p,
p.event-location,
.event-title {
  font-size: var(--text-sm);
  line-height: var(--text-sm);
}

p.event-location {
  display: flex;
  flex-direction: row;
}

p.date {
  color: var(--blue);
}

p.description {
  font-size: var(--text-sm);
  width: fit-content;
}

.icon.calendar {
  fill: var(--blue);
  min-width: clamp(15px, 5vw, 24px);
  height: auto;
  margin-right: 5px;
}

.icon.location {
  fill: white;
  min-width: clamp(15px, 5vw, 24px);
  height: auto;
  margin-right: 5px;
}

.date-time {
  display: flex;
  align-items: center;
}
