.left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.header-text h2 {
  font-size: 20px;
}

header.modal-header {
  border-bottom: 1px solid rgba(128, 128, 128, 0.25);
  padding-bottom: 15px;
}

.input-textarea {
  resize: none;
  max-width: 100%;
  max-height: 100px;
  overflow: auto;
  width: 100%;
  margin-bottom: 10px;
}

form.form-event {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 30px;
}

form.form-event label,
form.form-event legend {
  text-align: left;
  font-size: var(--label);
}

form.form-event input {
  width: 100%;
  margin-bottom: 10px;
  height: 25px;
}

.date > input {
  margin-bottom: unset !important;
}

.date,
.time {
  display: flex;
  gap: 0.8em;
}
